/* 
    This CSS file was created by OwL and Nepomuc to be used by pointer.js.
*/

#pointer-dot {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  position: fixed;
  z-index: 1000000;
  pointer-events: none;
  transition: border-color 0.5s;
}
#pointer-ring {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  position: fixed;
  z-index: 999999;
  pointer-events: none;
}
